/*cuando baje la pagina se mantiene la barra*/
header {
  background: rgba(142, 202, 230);
  width: 100%;
  position: fixed;
  z-index: 100;
  /*cuando baje la pagina se mantiene la barra*/
}
.menu{
  background: rgba(142, 202, 230);
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

/*configuracion de letras*/
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #1D2D44;
  text-decoration: none;
}

nav ul li:hover {
  background: #25AED0;
}

/*foto del carrucel*/
.carrucel {
  width: 350px;
  height: 250px;
  float: left;
  margin-right: 10px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*aca termina la configuracion visual de la barra */
.titulo {
  background-color: #C09614;
  width: 100%;
  height: 150px;
}
.izquierda {
  min-width: 200px;
  background-color: azure;
  padding: 10px 5px;
}
h1 {
  padding-top: 60px;
}

.cuerpo {
  background-color: #FFFDD0;
  margin-left: 20px;
}

.alineacion{
  overflow: auto;
}


.texto {
  margin-left: 170px;
  text-align: right;
  /*display: inline-block;*/
  /*vertical-align: top;*/
}
.finpagina {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(219, 63, 48);
}

.tarjeta {
  padding: 10px;
  border: #1D2D44 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #e0e0e0;
}
.tarjetas {
  background-color: #3E5C76;
}

/*Ignorar*/

.lista-de-tarjetas {
  display: flex;
}

.descripcion-tarjeta {
  max-width: 300px;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
}
